
.button {
  background-color: lightblue;
  display: inline-block;
  height: 25px;
  text-align: center;
}

.svg-drag-select-area-overlay {
  border: 1px dotted gray;
  background-color: rgba(255,255,255,.4);
}
